<%- include('./partials/header') %>

<main class="container text-center py-5 my-5">

  <!-- Olá usuario, sua mensagem foi recebida e responderemos no email x -->
  <div class="alert  alert-success" role="alert">
    <p>Olá <%= nome %>!</p>
    <p>Sua mensagem foi recebida e responderemos no email <%= email %>.</p>
  </div>

  <a href="/" class="btn btn-secondary">voltar</a>

</main>
<%- include('./partials/footer') %>