<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <form action="/confirmarcontato" method="GET">
       <input type="text" name="nome" id="">
       <input type="email" name="email" id="">
       <button type="submit">Enviar</button>
    </form>
</body>
</html>